* {
    box-sizing: border-box;
}

:root {
    --light: #dde0e1;
    --dark: #1b3667;
    --mygray: #454950;
}

::selection {
    background-color: var(--mygray);
    color: var(--light);
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--light);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.75rem;
    line-height: 1.6;
}

h1,
h2,
h3,
h5 {
    margin-bottom: 0.625rem;
    color: var(--dark);
    font-weight: 700;
    line-height: 1;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 4.5rem;
}

h4 {
    font-size: 2rem;
    color: var(--mygray)
}

h5 {
    font-size: 1.5rem;
}

p {
    margin-bottom: 1rem;
    color: var(--mygray);
}

header {
    display: flex;
    width: 100%;
    padding: 2.5rem;
    justify-content: space-between;
    background-color: var(--dark);
}

header h1.pagetitle {
    display: inline-block;
    margin: 0 0 0 -2.5rem;
    padding: 1rem 3rem 1rem 3rem;
    background-color: var(--light);
    color: var(--dark);
}

header nav {
    padding-top: 2rem;
    margin-right: 2rem;
    font-size: 2rem;
}

header nav ul {
    list-style-type: none;
}

/* Styled page title for reverse color within header. */
header nav ul li {
    display: inline-block;
    margin-left: 2.5rem;
    text-decoration-line: underline;
    text-decoration-color: var(--light);
    text-decoration-thickness: .24rem;
}

a {
    color: var(--light);
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* Hover attribute for navigation and images set for opacity effect. */
header nav ul li:hover {
    opacity: .7;
}

img:hover {
    opacity: .5;
}

.columnb2:hover {
    opacity: .7;
}
.columnb3:hover {
    opacity: .7;
}

.columnb4:hover {
    opacity: .7;
}

/* Figure element for image with subtitle */
figure {
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
    background-image: url("../images/IMG_0905.jpeg");
    background-size: cover;
    background-position: bottom;
}

/* Inner for subtitle box with absolute position for placement */
figure #inner {
    position: absolute;
    width: 35%;
    height: 10%;
    margin-top: 6%;
    left: 55%;
    padding: 1%;
    color: var(--dark);
    background-color: var(--light);
    text-align: center;
}

main {
    width: 100%;
    margin: 4rem auto;
}

/* Flex styling for row class. */
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 2rem;
    margin-bottom: 20px;
}

/* Column styles for main content */
.columna1 {
    flex: 5%;
    margin: 2rem;
    height: 20%;
    text-align: right;
}

.columna2 {
    flex: 65%;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5rem;
    border-left: .3rem solid var(--dark);
}

#hero {
    width: 1042px;
}

#image {
    width: 519px;
    height: 250px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* Columns for footer */
.columnb1 {
    flex: 14.5%;
    margin: 2rem;
    height: 20%;
    text-align: right;
}

.columnb2 {
    flex: 19%;
    padding: 5rem;
    border-left: .3rem solid var(--dark);
    text-decoration: underline;
}

.columnb3 {
    flex: 22%;
    padding: 5rem;
    text-decoration: underline;
}

.columnb4 {
    flex: 22%;
    padding: 5rem;
    text-decoration: underline;
}


/* Set special Media styles for subtitle, row, columns and footer*/
@media screen and (max-width: 2560px) {
    /* nav {
        padding: 3%;
    } */
    
    #hero {
        width: 100%;
    }

    #image {
        width: 49.5%;
        height: auto;
    }

    figure #inner {
        top: 90px;
        height: 5%;
    }

    p {
        font-size: 2.5rem;
    }

    footer h4 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 1440px) {
    nav {
        padding: 3%;
    }
    
    .columna1 {
        text-align: left;
    }

    figure #inner {
        top: 120px;
        height: 8%;
    }

    p {
        font-size: 2rem;
        padding: 3%
    }

    footer h4 {
        font-size: 2rem;
    }

    .columnb1 {
        margin-left: 2.5%
    }
}

@media screen and (max-width: 1024px) {
    nav {
        padding: 2%;
    }
    
    figure #inner {
        width: 30%;
        height: 13%;
        left: 60%;
    }
    
    p {
        font-size: 1.5rem;
    }

    footer h4 {
        font-size: 1.5rem;
    }

    footer h3 {
        margin-left: 35px;
    }
}

@media screen and (max-width: 768px) {
    figure #inner {
        width: 35%;
        height: 12%;
        top: 180px;
        left: 55%;
    }

    .row {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
    }

    .columnb1 {
        text-align: left;
    }

    .columnb2 {
        border-left: none;
    }

    #hero, .columna2 img {
        width: 623px;
    }

    .columnb2 {
        margin-top: -5%;
    }

    .columnb3 {
        margin-top: -10%;
    }

    .columnb4 {
        margin-top: -10%;
    }
}

@media screen and (max-width: 425px) {
    figure #inner {
        width: 50%;
        height: 9%;
        font-size: 2.2rem;
        top: 43%;
        left: 45%;
    }

    .columna2 img {
        width: 320px !important;
    }

    .columnb2 {
        margin-top: -10%;
    }

    .columnb3 {
        margin-top: -20%;
    }

    .columnb4 {
        margin-top: -20%;
    }
}

@media screen and (max-width: 375px) {
    .columna2 {
        padding: 2rem;
    }   
}

@media screen and (max-width: 320px) {
    header {
        width: 400px;
    }
    
    figure {
        width: 400px;
    }
    
    figure #inner {
        height: 9%;
        width: 60%;
        left: 50%;
        top: 45%;
    } 

    footer h4 {
        font-size: 15px;
    }  
}

