* {
    box-sizing: border-box;
}

:root {
    --light: #dde0e1;
    --dark: #1b3667;
    --mygray: #454950;
}

::selection {
    background-color: var(--mygray);
    color: var(--light);
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--light);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.75rem;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 0.625rem;
    color: var(--dark);
    font-weight: 700;
    line-height: 1;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 4.5rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
}

p {
    margin-bottom: 1rem;
    color: var(--mygray);
}

header {
    width: 100%;
    padding: 2.5rem;
    background-color: var(--dark);
}

header h1.pagetitle {
    display: inline-block;
    margin: 0 0 0 -2.5rem;
    padding: 1rem 3rem 1rem 3rem;
    background-color: var(--light);
    color: var(--dark);
}

header nav {
    padding-top: 2rem;
    margin-right: 2rem;
    float: right;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 2.5rem;
}

a {
    color: var(--light);
    text-decoration: none;
}

p {
    font-size: 16px;
}

figure {
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
    background-image: url("../images/IMG_0905.jpeg");
    background-size: cover;
    background-position: bottom;
}

figure #inner {
    position: absolute;
    width: 35%;
    height: 10%;
    margin-top: 8%;
    left: 55%;
    padding: 1%;
    color: var(--dark);
    background-color: var(--light);
    text-align: center;
}

main {
    width: 100%;
    margin: 4rem auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 2rem;
    height: 25rem;
    margin-bottom: 20px;
}

.columna1 {
    flex: 5%;
    margin: 2rem;
    height: 20%;
    text-align: right;
}

.columna2 {
    flex: 65%;
    padding: 5rem;
    border-left: .3rem solid var(--dark);
}

footer {
    position: absolute;
    bottom: 0;
}


